
<form [formGroup]="_loginform" (ngSubmit)="proceedlogin()">

    <mat-card>
        <mat-card-header>
          <h1>User Login</h1>
        </mat-card-header>
        <mat-card-content>

            <mat-form-field>
                <mat-label>Username</mat-label>
                <input formControlName="username" matInput />
            </mat-form-field>

            <mat-form-field >
                <mat-label>Password</mat-label>
                <input formControlName="password" type="password" matInput />
            </mat-form-field>
            
        </mat-card-content>
        <mat-card-actions>
            <div class="div-50">
                <button type="submit" mat-raised-button color="primary">Login</button>
            </div>
            <div class="div-50">
                <a routerLink="/register" mat-raised-button color="accent">Sign Up</a>
            </div>
            

        </mat-card-actions>
        <div class="div-50">
            <a mat-button color="primary" routerLink="/forgetpassword">Forget password</a>
        </div>
    </mat-card>

</form>