
<form [formGroup]="customerform" (ngSubmit)="Savecustomer()">

    <mat-card>
        <mat-card-header>
          <h1>{{title}}</h1>
        </mat-card-header>
        <mat-card-content>

            <mat-form-field>
                <mat-label>Code</mat-label>
                <input formControlName="code" matInput />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput />
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Email</mat-label>
                <input formControlName="email"  matInput />
            </mat-form-field>
            <mat-form-field class="mat-50">
                <mat-label>Phone</mat-label>
                <input formControlName="phone"  matInput />
            </mat-form-field>
           
            <mat-form-field >
                <mat-label>Credit Limit</mat-label>
                <input formControlName="creditlimit" matInput />
            </mat-form-field>
            <div class="div-50">
                <mat-checkbox formControlName="status">Is Active</mat-checkbox>
            </div>
            
        </mat-card-content>
        <mat-card-actions>
            <div class="div-50">
                <button type="submit" mat-raised-button color="primary">Save</button>
            </div>
            <div class="div-50">
                <a routerLink="/customer" mat-raised-button color="accent">Cancel</a>
            </div>
            

        </mat-card-actions>
    </mat-card>

</form>