mat-card {
    margin: 2%;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #ccc;
}
.mat-mdc-raised-button{
    width:auto;
}

.table-header{
background-color: blue;
color: white;
}