
<form [formGroup]="_resetform" (ngSubmit)="proceedchange()">

    <mat-card>
        <mat-card-header>
          <h1>Update password</h1>
        </mat-card-header>
        <mat-card-content>

            <mat-form-field >
                <mat-label>Password</mat-label>
                <input formControlName="password" type="password" matInput />
            </mat-form-field>

            <mat-form-field >
                <mat-label>OTP Text</mat-label>
                <input formControlName="otptext" type="password" matInput />
            </mat-form-field>
          
        </mat-card-content>
        <mat-card-actions>
            <div class="div-50">
                <button type="submit" mat-raised-button color="primary">Update</button>
            </div>
            <div class="div-50">
                <a routerLink="/login" mat-raised-button color="accent">Cancel</a>
            </div>
            

        </mat-card-actions>
    </mat-card>

</form>